<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        body {
            background: blanchedalmond;
        }
        p {
            color: blue;
            background: brown;
        }

        #specific {
            font-size: 40px;
        }

        .important {
            background: brown;
        }

    </style>
</head>
<body>

<p class="important"> This is my first paragraph </p>
<p id="specific"> this is my second one </p>

</body>
</html>